<div align="center" class= "container">

<h1> About Pooptimer </h1>
<br>
<p> Have you ever thought that if you're using somewhat longer to poop compared to the rest of the world? Or have you wondered how much time do people averagely take to poop? At least I have. Those curiosity led me into building Pooptimer. 
<br>
<br>
<br>
PoopTimer is a social poop time tracking app that lets you track the amount of time you poop and share your record with the world.
Pooptimer also lets you filter all the records by country to see which nationality poops the longest and how much time they took. 
<br>
<br>

Created by: <a href="https://www.facebook.com/jesonleejunzhen">Jeson Lee Junzhen </a>
</div>

<style type="text/css">
	
.container {
   max-width: 800px;
}
</style>