  
  <div class="container" align="center">

  	<% @timer.each do |photo| %>

  <% if photo.photos? %>

  <% photo.photos.each do |p| %>
  
  <img src= "<%= p %>" />

  	 <% end %>
	 <% end %>
 <% end %>

</div>
   